[class^='col']{
    background-color: rgba(255, 0, 0, 0.443);
    border: 1px solid black;
    min-height: 50px;
}
/* GENERALS */

.mc-container{
    width: 90%;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    height: 100vh;
    padding-top: 80px;
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #eaeaea;
}

.nav-control-container .bi{
    font-size: 20px;
    margin-left: 30px;
}

.form-container{
    width: 90%;
}

header nav input.form-control{
    background-color: #e4e4e4;
    border: none;
}

header nav form .search-btn{
    border: none;
    background-color: #e4e4e4;
}

/* /HEADER */

/* MAIN */

/* ASIDE NAV */

aside{
    width: 10%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /* DEBUG */
    background-color: rgba(49, 48, 48, 0.578);
}
aside ul{
    list-style: none;
    margin-top: 20px;
    line-height: 40px;

    
}
aside ul li a{
    text-decoration: none;
    color: white;
}

/* /ASIDE NAV */

/* MAIN CONTENT */

.main-content{
    width: 90%;
    height: 100%;
    overflow: auto;
}

/* SECTION BOOLEAN */

section#boolean{
    background-color: #3a70df;
}

