
/* UTILITY */

.card-borders{
    border: 1px solid rgb(201, 201, 201);
}

/* /UTILITY */
/* GENERALS */
body{
    font-family: 'Roboto', sans-serif;
}
.mc-container{
    width: 90%;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    height: 100vh;
    padding-top: 80px;
}

.main-content{
    width: 95%;
    height: 100%;
    overflow: auto;
}

.card-header{
    border-bottom: 1px solid black;
    padding: 7px;
}

ul{
    list-style: none;
}


/* HEADER */

header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #eaeaea;
}
.logo img{
    width: 180px;
}


header i{
    font-size: 20px;
}

header input.form-control{
    background-color: #c8c8c8;
    border: none;
}

.search-btn{
    border: none;
    background-color: #c8c8c8;
}

/* /HEADER */

/* MAIN */

/* ASIDE NAV */

aside{
    width: 5%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /* DEBUG */
    background-color: rgba(49, 48, 48, 0.578);
}
aside ul{
    list-style: none;
    margin-top: 20px;
    line-height: 40px;

    
}
aside ul li a{
    text-decoration: none;
    color: white;
}

/* /ASIDE NAV */


/* SECTION BOOLEAN */

section#boolean{
    background-color: #3a70df;
}
/* /SECTION BOOLEAN */

/* SECTION TABS */

.little-col{
    width: 110px;
}
/* /SECTION TABS */