/* [class^='col']{
    background-color: rgba(255, 0, 0, 0.443);
    border: 1px solid black;
    min-height: 50px;
} */

/* UTILITY */

.card-borders{
    border: 1px solid #dededd;
    border-radius: 5px;
}

/* /UTILITY */
/* GENERALS */
body{
    font-family: 'Roboto', sans-serif;
}
.mc-container{
    width: 90%;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    height: 100vh;
    padding-top: 80px;
}

.main-content{
    width: 95%;
    height: 100%;
    overflow: auto;
}

.card-header{
    background-color: #f6f6f6;
    border-bottom: 1px solid #dededd;
}

ul{
    padding: 0;
    list-style: none;
}


/* HEADER */

header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #eaeaea;
}
.logo img{
    width: 180px;
}


header i{
    font-size: 20px;
}

header input.form-control{
    background-color: #c8c8c8;
    border: none;
}

.search-btn{
    border: none;
    background-color: #c8c8c8;
}

/* /HEADER */

/* MAIN */

/* ASIDE NAV */

aside{
    width: 5%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /* DEBUG */
    background-color: rgba(49, 48, 48, 0.578);
}
aside ul{
    list-style: none;
    margin-top: 20px;
    line-height: 40px;

    
}
aside ul li a{
    text-decoration: none;
    color: white;
}

/* /ASIDE NAV */


/* SECTION BOOLEAN */

section#boolean{
    color: white;
    background-color: #3a70df;
}
/* /SECTION BOOLEAN */

/* SECTION TABS */

/* TABLE */
thead{
    border-bottom: 1px solid black;
}
.little-col{
    width: 110px;
}


/* TABLE */
.table-wrapper{
    line-height: 40px;
}

.mc-table .btn{
    width: 30px;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4074f3;
    border: 1px solid #4074f3;

    transition: all 0.5s;
}
.mc-table .btn:hover{
    color: white;
    background-color: #4074f3;
}
/* TO-DO */

.todo-list{
    margin-top: 10px;
}

.todo-list ul{
    border: 1px solid #dededd;
    border-radius: 10px;
}

.todo-list ul li{
    padding: 8px;
    border-bottom: 1px solid #dededd;
    
}
.todo-list ul li:last-child{
    border: none;
}
/* /TO-DO */

/* CHART */

.mc-chart .chart-img{
    width: 100%;
    font-size: .9rem;
}
.chart-img img{
    width: 100%;
}
.mc-chart ul li{
    font-size: .9rem;
    padding: 7px;
    border-bottom: 1px solid #dededd;
}
.mc-chart ul li:last-child{
    border-bottom: none;
}
/* /CHART */
/* /SECTION TABS */